<div class='character-page'>
{{#each quotes}}
<div class="card quotes" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">"{{this.quote}}"</h5>
        <p class="card-text">- {{this.author}}, {{this.series}}</p>
    </div>
</div>
{{/each}}
</div>